@font-face {
  font-family: "Maison Neue Extended";
  src: url("MaisonNeue-ExtendedBold.woff2") format("woff2"),
    url("MaisonNeue-ExtendedBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: 'Maison Neue Extended';
    src: url('MaisonNeue-ExtendedDemiBold.woff2') format('woff2'),
        url('MaisonNeue-ExtendedDemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: "Maison Neue Extended";
  src: url("MaisonNeue-ExtendedLight.woff2") format("woff2"),
    url("MaisonNeue-ExtendedLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Maison Neue Extended";
  src: url("MaisonNeue-ExtendedMedium.woff2") format("woff2"),
    url("MaisonNeue-ExtendedMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
